body{
    background-image: url("img/20220620_160317.jpg");
    background-size: cover;
    padding: 0;
}

nav ul li {
    display: inline;
    font-weight: bold;
    background-color: #080808;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}


nav ul li {
    display: inline;
    font-weight: bold;
}


section {
    font-weight: bold;
    margin: 20px;
    color: black;
}


form {
    margin: 20px 0;
}

fieldset {
    margin-bottom: 15px;
}


figure {
    display: inline-block;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

nav ul li {
    display: inline;
    font-weight: bold;
}


section {
    margin: 20px;
}


form {
    margin: 20px 0;
}

fieldset {
    margin-bottom: 15px;
}


figure {
    display: inline-block;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}
